@import "tailwindcss";

@theme {
  --font-display: sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #00A7F3;

}

@layer base{
  html {
    font-family: var(--font-display);
  }

  body{
    background-color: #f7fafe;
    overflow-x: hidden;
  }
}